body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    border: solid;
}

#display-input,
#display-show {
    flex: 1;
}

#display-input input {
    flex: 1;
    border: none;
    background-color: #979ba0;
    resize: none;
    outline: none;
}

#operators {
    display: flex;
    width: 400px;
    height: 100px;
    border: solid;
    border-top: none;
    border-bottom: none;
    background-color: #1F2937;
}

#operators div {
    padding: 18px 6px;
}

#container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border: solid;
    border-top: none;
    background-color: #1F2937;
}

#top-side,
#bottom-side,
#rightBox,
#btnBox,
#rightBox,
#display-input,
#rightBox div,
#operators div,
#bottom-side div,
#btnBox div  {
    display: flex;
    flex: 1;
}

#top-side {
    flex: 3;
}


#btnBox {
    flex-direction: column;
    flex: 3;
}

#rightBox {
    flex-direction: column;
}

#btnBox div {
    padding: 15px;
}

#rightBox div {
    padding: 15px;
}

.roundBorder {
    margin: 3px;
}

button {
    background-color:  #f9faf8;
    border: 2px solid black;
    flex: 1;
}

button:hover {
    border-color: #3882F6;
}


#bottom-side #zerobtn {
    flex: 3;
    padding: 10px 120px;
}