body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url("images/wood.jpg"); */
    background-color: #DCD9CD;
}

#display {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    border: solid;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color:#282828;
    border: none;
}

#display-input {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#displaynumbers {
    background-color: green;
    margin-top: 25px;
    height: 54px;
    width: 322px;
    border-radius: 10px;
}

.numberstyle {
    text-align: center;
    font-size: 40px;
    padding-top: 3px;
    text-align: right;
    margin-right: 10px;
}

#clearbtn {
    display: flex;
    width: 400px;
    height: 50PX;
    border: solid;
    border: none;
    background-color:#282828;
}

#clearbtn button{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color:black;
}

#clearbtn div {
    padding: 3px 10px;
}

#operators {
    display: flex;
    width: 400px;
    height: 100px;
    border: solid;
    border: none;
    background-color:#282828;
}

#operatorbox {
    margin-right: 10px;
    margin-left: 10px;
}

#operators div {
    padding: 10px 5px;
}

#operators button{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color:black;
}

#container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border: solid;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top: none;
    background-color:#282828;
    border: none;
}

#top-side,
#bottom-side,
#rightBox,
#btnBox,
#rightBox,
#rightBox div,
#clearbtn div,
#operators div,
#bottom-side div,
#btnBox div  {
    display: flex;
    flex: 1;
}

#top-side {
    flex: 3;
}


#btnBox {
    flex-direction: column;
    flex: 3;
}

#rightBox {
    flex-direction: column;
}

#btnBox div {
    padding: 15px;
}

#rightBox div {
    padding: 15px;
}

.roundBorder {
    margin: 3px;
}
#container button {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: grey;
}
button {
    border: 2px solid black;
    flex: 1;
}

button:hover {
    border-color: orange;
}


#bottom-side #zerobtn {
    flex: 3;
    padding: 10px 120px;
}